@use "sass:string";

$userIsSignedUpToLotteryMessage: 'You are signed up to lottery';
$lotteryIsClosedMessage: 'Lottery is closed';
$youCanSignUpToLotteryMessage: 'You can sign up to lottery';
$globalWidth: 350px;

.userIsSignedUpToLottery {
  width: $globalWidth;

  .mat-flat-button:disabled {
    width: $globalWidth;
    background-color: green;
    color: white;
  }

  .mat-raised-button {
    width: 350px;
  }
}

.youCanSignUpToLottery {
  width: $globalWidth;

  .mat-raised-button {
    width: $globalWidth;
    color: white;
  }
}

.lotteryIsClosed {
  width: $globalWidth;

  .mat-flat-button:disabled {
    width: $globalWidth;
    background-color: darkred;
    color: white;
  }

}


