<div [ngSwitch]="lotteryStateEnumService.lotteryState">

  <div class="youCanSignUpToLottery" *ngSwitchCase="LotteryStateEnum.ACTIVE">
    <h1>
      <mat-icon class="material-icons">waving_hand</mat-icon>
      <p>Lottery is open</p>
    </h1>
    <button
      (click)="loadChosingParkingLotForm()"
      mat-raised-button>
      <h2>Sign up</h2>
    </button>
  </div>

  <div class="lotteryIsClosed" *ngSwitchCase="LotteryStateEnum.INACTIVE">
    <h1>
      <mat-icon class="material-icons">lock</mat-icon>
      <p>Lottery is closed</p>
    </h1>
    <button
      [disabled]="true"
      mat-flat-button>
      <h2>You can't sign up</h2>
    </button>
  </div>

  <div class="userIsSignedUpToLottery" *ngSwitchCase="LotteryStateEnum.REGISTERED">
    <h1>
      <mat-icon class="material-icons">event_available</mat-icon>
      <p>Signed Up</p>
    </h1>
    <button
      [disabled]="true"
      mat-flat-button>
      <h2>You've chosen {{chosenParkingLotName}}</h2>
    </button>
    <br>
    <br>
    <button (click)="openResigningFromLotteryDialog()"
            mat-raised-button>
      <h2>Resign</h2>
    </button>
  </div>
  <div *ngSwitchCase="LotteryStateEnum.NOT_LOADED">
    <h1>LOADING...</h1>
    <mat-spinner>
    </mat-spinner>
  </div>
</div>
