<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon id="settings">settings</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="this.dateToChangeTypeEnumService.setRegular(); openChangeLotterySettingsDialog(); "
          [disabled]="lotterySettings.isActive">
    <span class="menu-text">Change regular lottery close date</span>
  </button>

  <button mat-menu-item (click)="this.dateToChangeTypeEnumService.setTemporary(); openChangeLotterySettingsDialog();"
          [disabled]="lotterySettings.isActive">
    <span class="menu-text">Set lottery close date for current month</span>
  </button>
</mat-menu>
