<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon id="settings">settings</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openChangeLotterySettingsDialog(); this.dateToChangeTypeEnumService.setRegular()">
    <span class="menu-text">change regular lottery close date</span>
  </button>

  <button mat-menu-item (click)="openChangeLotterySettingsDialog(); this.dateToChangeTypeEnumService.setTemporary()">
    <span class="menu-text">set lottery close date for current month</span>
  </button>
</mat-menu>
