* {
  margin: 0;
  padding: 0;
}
.content {
  display: grid;
  justify-content: center;
  padding: 0.5rem;
  box-sizing: border-box;
}
.main {
  display: grid;
  justify-content: center;
  height: 85vh;
  align-items: center;
}

h1 {
  width:100%;
  color: limegreen;
  text-align: center;
}

p {
  margin-top: 15px;
  text-align: center;
}

.wait {
  margin-top: 50px;
  color: red;
}

div{
  width: 100%;
}
