<section class="main">
  <img src="assets/logo-color.svg" alt="logo" class="logo-color">
  <form>
    <h1>Change password</h1>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [formControl]="pass"
               [type]="hide1 ? 'password' : 'text'"
               minlength="8"
               [(ngModel)]="password"
               (ngModelChange)="clearErrors()" required>
        <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
          <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="pass.invalid">{{getErrorMessage(pass)}}</mat-error>
        <mat-hint>Minimum 8 characters</mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Repeat password</mat-label>
        <input matInput [formControl]="repeat_password"
               [type]="hide2 ? 'password' : 'text'"
               minlength="8"
               (ngModelChange)="clearErrors()" required>
        <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
          <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="repeat_password.invalid">{{getErrorMessage(repeat_password)}}</mat-error>
        <mat-hint>Minimum 8 characters</mat-hint>
      </mat-form-field>
    </p>
    <span *ngIf="passwordError" style="color: red">Passwords aren't identical!<br> <br></span>
    <span *ngIf="!passwordError&&error" style="color: red">Something went wrong!<br> <br></span>

    <button mat-raised-button (click)="setNewPassword()">Confirm password</button>

  </form>
</section>
