<section class="main">
  <form [formGroup]="RegisterForm">
    <h1>Register</h1>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" [(ngModel)]="name" [required]="true" (ngModelChange)="this.nameError = false">
        <mat-hint *ngIf="nameError" style="color: red">Niepoprawny format</mat-hint>
        <mat-hint *ngIf="this.RegisterForm.value.name == '' && !nameError">Imię nie może być puste</mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Surname</mat-label>
        <input matInput formControlName="surname" [(ngModel)]="surname" [required]="true" (ngModelChange)="this.surnameError = false">
        <mat-hint *ngIf="surnameError" style="color: red">Niepoprawny format</mat-hint>
        <mat-hint *ngIf="this.RegisterForm.value.surname == '' && !surnameError">Nazwisko nie może być puste</mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" [(ngModel)]="email" (ngModelChange)="emailError = false" [required]="true">
        <mat-hint *ngIf="emailError" style="color: red">Niepoprawny email</mat-hint>
        <mat-hint *ngIf="this.RegisterForm.value.name == '' && !nameError">Email nie może być pusty</mat-hint>
      </mat-form-field>
    </p>
    <p *ngIf="error" style="color: red">Coś poszło nie tak!</p>
    <button mat-raised-button [class.spinner]="loading" [disabled]="loading" (click)="register()">Register</button>
    <p class="log">
      Have already an account? <a class="login" routerLink="/login">Login here</a>
    </p>
  </form>
</section>
