* {
  margin: 0;
  padding: 0;
}

.main {
  display: grid;
  justify-content: center;
  height: 85vh;
  align-items: center;
}

h1{
  margin-bottom: 15px;
}

mat-form-field{
  width: 100%;
}

.mat-raised-button {
  width: 100%;
  height: 50px;
  background-color: var(--mainColor);
  color: white;
  margin-top: 10px;
  font-size: 20px;
}

.log {
  margin-top: 10px;
}

.login{
  color: red;
}

a {
  text-decoration: none;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}
