#settings {
  color: white;
}

#lottery-state-text {
  display: flex;
  flex: 1;
  margin: 5px;
  text-align: center;
  flex-direction: column;
}

.mat-slide-toggle {
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}

.mat-menu-item {
  line-height: 35px;
  height: 50px;
  padding: 1rem;
  display: flex;
  flex: 1;
}

.menu-text {
  line-height: 24px;
}
