* {
  margin: 0;
  padding: 0;
}
.header {
  width: 100%;
  text-align: center;
}
.main {
  display: grid;
  justify-content: center;
  align-items: end;
}

.search {
  color: white;
  width: clamp(6rem,20vw,10rem);
  font-size: 20px;
  position: absolute;
  right: 5vw;
}

.mat-form-field-underline {
  display: none !important;
}
.mat-raised-button {
  width: clamp(20ch, 90vw, 350px);
  height: 50px;
  background-color: var(--mainColor);
  color: white;
  margin-top: 15px;
  font-size: 17px;
}
.users-list {
  padding: 4rem 0;
}

.mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: var(--mainColor);
  height: 50px;
}
.header, .logo, .search {
  justify-self: center;
}
