.main {
  height: 80vh;
  width: 100vw;
  display: grid;
  justify-content: center;
}
.content {
  padding: 0.5rem 2rem;
}
.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 3rem;
  width: 100%;
}
.select-all {
  display: grid;
  align-items: center;
  justify-content: center;
}
.search {
  width: 8rem;
}
