<section class="main">
  <h1 mat-dialog-title>{{data.name}} {{data.surname}}</h1>
  <div mat-dialog-content>
    {{data.email}}
  </div>
  <div>
    <button class="giveAdmin" mat-raised-button mat-dialog-close (click)="giveAdmin(data.id)">
      {{giveOrRemove}}
    </button><br>
    <button class="delete" mat-raised-button mat-dialog-close (click)="deleteAccount(data.id)">
      Delete account
    </button><br>
    <button class="cancel" mat-raised-button mat-dialog-close cdkFocusInitial>
      Cancel
    </button>
  </div>
</section>
