<footer class="footer" *ngIf="!hasRoute('login')&&!hasRoute('register')&&!hasRoute('changePassword')
&&!hasRoute('forgot-password')">
  <mat-toolbar class="footer" color="primary">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">

      <button mat-button routerLink="/lottery" routerLinkActive="active-menu-item">
        <div class="toolbar-icon">
          <mat-icon>casino</mat-icon>
        </div>
        <div class="toolbar-icon-text">
          <span>Lottery</span>
        </div>
      </button>

      <button mat-button routerLink="/calendar" routerLinkActive="active-menu-item">
        <div class="toolbar-icon">
          <mat-icon>calendar_month</mat-icon>
        </div>
        <div class="toolbar-icon-text">
          <span>Calendar</span>
        </div>
      </button>

      <button mat-button routerLink="/cars" routerLinkActive="active-menu-item">
        <div class="toolbar-icon">
          <mat-icon>directions_car</mat-icon>
        </div>
        <div class="toolbar-icon-text">
          <span>My cars</span>
        </div>
      </button>

      <button mat-button routerLink="/Parkings" routerLinkActive="active-menu-item">
        <div class="toolbar-icon">
          <mat-icon>local_parking</mat-icon>
        </div>
        <div class="toolbar-icon-text">
          <span>Parkingi</span>
        </div>
      </button>
      <button mat-button routerLink="/account" routerLinkActive="active-menu-item">
        <div class="toolbar-icon">
          <mat-icon>person</mat-icon>
        </div>
        <div class="toolbar-icon-text">
          <span>Account</span>
        </div>
      </button>

    </div>
  </mat-toolbar>
</footer>
