<mat-toolbar>
  <img src="assets/logo.svg" alt="logo" class="logo">
  <h1 class="header">PARKING LOTS</h1>
</mat-toolbar>
<section class = "main">
  <mat-card *ngFor="let parking of this.parkingLotsList let i = index">
    <mat-list-item>
      <h1>{{parking.name}}</h1>
        <mat-card-actions>
        <p style="font-size: 15px">Number of parking spaces</p>
          <div class="input-wrapper">
            <button mat-icon-button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                    (click) = subtractParkingPlaceToParkingLot(parking.id)></button>

            <input number-input class="quantity" min="1" id="{{parking.id}}" value="{{parking.parkingPlaceCount}}" (change)="changeNumberOfParkingLots(parking)" type="number">

            <button mat-icon-button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"
                    (click) = "addParkingPlaceToParkingLot(parking.id)"></button>
          </div>
        <mat-slide-toggle (change)="changeStatus(parking)" [checked]="parking.isAvailable"
          color="primary">
          {{changeIsAvailableState(parking)}}
        </mat-slide-toggle>
        <br>
        <br>
        <button mat-button (click)="openDialog(parking.id)">Remove parking</button>
      </mat-card-actions>
    </mat-list-item>
  </mat-card>

    <mat-card>
      <div class="column">
      <mat-card-actions>
        <h1>Add new parking</h1>
        <form>
        <mat-form-field appearance="fill" id="nameInput">
          <mat-label>Enter a name</mat-label>
          <input matInput [formControl]="inputValue" required>
        </mat-form-field>
        <br>
        <br>
          <div class="input-wrapper">
            <button mat-icon-button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" (click)="decrementParkingPlaceCount()" ></button>
            <input number-input class="quantity"  [formControl]="numberInputValue"  value="1" min="1" type="number" required>
            <button mat-icon-button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" (click)="incrementParkingPlaceCount()" class="plus"></button>
          </div>
          <br>
        <button mat-raised-button (click) = "addParkingLot()">
          Add parking
        </button>
        </form>
      </mat-card-actions>
      </div>
    </mat-card>
    <br>
    <br>
</section>

