<section class="main">
  <img src="assets/logo-color.svg" alt="logo" class="logo-color">
  <form>
    <h1>Forgot password</h1>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="example@mail.com" [(ngModel)]="username" [formControl]="email" name="email" (ngModelChange)="error = false" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage(email)}}</mat-error>
      </mat-form-field>
    </p>

    <p *ngIf="error" style="color: red">Something went wrong!</p>
    <button mat-raised-button (click)="forgotPassword()" [class.spinner]="loading" [disabled]="loading">Reset password</button>
    <p class="log">
      <a class="login" routerLink="/login">Login here</a>
    </p>
  </form>
</section>
