<section class="main">
  <form [formGroup]="RegisterForm">
    <h1>Set password</h1>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" minlength="8" [(ngModel)]="password" (ngModelChange)="this.passwordError = false">
        <mat-hint>Minimum 8 znaków</mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Repeat password</mat-label>
        <input matInput formControlName="repeat_password" type="password" minlength="8" (ngModelChange)="this.passwordError = false">
        <mat-hint>Minimum 8 znaków</mat-hint>
      </mat-form-field>
    </p>
    <span *ngIf="passwordError" style="color: red">Hasła nie są identyczne!<br> <br></span>
    <span *ngIf="!passwordError&&error" style="color: red">Coś poszło nie tak!<br> <br></span>

    <button mat-raised-button (click)="setPassword()">Confirm password</button>

  </form>
</section>
