<div class="main">
  <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()" >
    <mat-form-field appearance="standard">
      <mat-label>Hasło: </mat-label>
      <input matInput formControlName="password" type="password" minlength="8" (ngModelChange)="this.passwordError = false">
      <mat-hint>Minimum 8 znaków</mat-hint>
    </mat-form-field> <br> <br>
    <mat-form-field appearance="standard">
      <mat-label>Powtórz hasło: </mat-label>
      <input matInput formControlName="repeat_password" type="password" minlength="8" (ngModelChange)="this.passwordError = false">
      <mat-hint>Minimum 8 znaków</mat-hint>
    </mat-form-field> <br> <br>
    <span *ngIf="passwordError" style="color: red">Hasła nie są identyczne!<br> <br></span>
    <button mat-raised-button type="submit">Potwierdź</button>
  </form>
</div>
