<section class="main">
  <form>
    <h1>Set password</h1>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [formControl]="pass"
               type="password" minlength="8"
               [(ngModel)]="password"
               (ngModelChange)="clearErrors()" required>
        <mat-error *ngIf="pass.invalid">{{getErrorMessage(pass)}}</mat-error>
        <mat-hint>Minimum 8 characters</mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Repeat password</mat-label>
        <input matInput [formControl]="repeat_password"
               type="password"
               minlength="8"
               (ngModelChange)="clearErrors()" required>
        <mat-error *ngIf="repeat_password.invalid">{{getErrorMessage(repeat_password)}}</mat-error>
        <mat-hint>Minimum 8 characters</mat-hint>
      </mat-form-field>
    </p>
    <span *ngIf="passwordError" style="color: red">Hasła nie są identyczne!<br> <br></span>
    <span *ngIf="!passwordError&&error" style="color: red">Coś poszło nie tak!<br> <br></span>

    <button mat-raised-button (click)="setPassword()">Confirm password</button>

  </form>
</section>
