/* You can add global styles to this file, and also import other style files */
:root{
  --mainColor: #064dd6;
  --secondary-color: #06B9D6;
  --dark-grey: #3c3c3b;
  --light-grey: #b3b3b2;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error-snackbar {
  background: indianred;
  color: white;
}
.good-snackbar {
  background-color: limegreen;
  color: white;
}
.mat-toolbar {
  background-color: var(--mainColor);
  height: 50px;
  color: white;
}
.logo {
  height: 45px;
  position: absolute;
  left: 5vw;
}
.logo-color {
  height: 60px;
  position: fixed;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
}

.lottery-success {
  background-color: green;
  color: white;
}
.lottery-error {
  background-color: red;
  color: white;
}
.mat-simple-snackbar-action {
  color: white;
}
