<button *ngIf="calendarDataService.userPossibleActionEnum === 'NOTHING_TO_DO'" mat-raised-button
        disabled
        [class]="calendarDataService.userPossibleActionEnum">Release / Take
</button>

<button
  *ngIf="calendarDataService.userPossibleActionEnum === 'FREE_PLACE'"
  mat-raised-button
  (click)="freeOrTake(); buttonClick.emit();
        "
  [class]="calendarDataService.userPossibleActionEnum">Release Place
</button>

<button *ngIf="calendarDataService.userPossibleActionEnum === 'TAKE_PLACE'" mat-raised-button
        (click)="freeOrTake(); buttonClick.emit();
        "
        [class]="calendarDataService.userPossibleActionEnum">Take Place
</button>
