<mat-toolbar><h1>CALENDAR</h1></mat-toolbar>
<div class="main">

  <mat-spinner *ngIf="!calendarDataService.loaded"></mat-spinner>
  <div *ngIf="calendarDataService.loaded">
    <mat-card class="demo-inline-calendar-card">
      <mat-calendar [minDate]="minDate" [maxDate]="maxDate" (selectedChange)="selectedRangeChange($event)"
                    (click)="calendarDataService.setParkingLotsButtonStyle(); calendarDataService.clearSelectedParkingLot()"
                    [selected]="calendarDataService.selectedRangeValue" [dateClass]="dateClass"></mat-calendar>
    </mat-card>

    <app-calendar-button-toggle-group></app-calendar-button-toggle-group>
  </div>

  <app-free-take-button></app-free-take-button>
</div>
