<mat-toolbar>
  <img src="assets/logo.svg" alt="logo" class="logo">
  <h1 class="header">CALENDAR</h1>
</mat-toolbar>
<div class="main">

  <mat-spinner *ngIf="!calendarDataService.loaded"></mat-spinner>
  <div *ngIf="calendarDataService.loaded">
    <mat-card class="demo-inline-calendar-card">
      <mat-calendar [minDate]="minDate" [maxDate]="maxDate" (selectedChange)="selectedRangeChange($event)"
                    (click)="
                    calendarDataService.setParkingLotsFreePlacesToMax();
                    calendarDataService.countFreeParkingPlacesOnEachParkingLot();
                    calendarDataService.setParkingLotsButtonStyle();
                    calendarDataService.clearSelectedParkingLot();
                    calendarDataService.checkPossibleActions()"
                    [selected]="calendarDataService.selectedRangeValue" [dateClass]="dateClass"></mat-calendar>
    </mat-card>

    <app-calendar-button-toggle-group></app-calendar-button-toggle-group>

    <app-free-take-button *ngIf="true"></app-free-take-button>
  </div>
</div>
