<mat-toolbar>
  <img class="logo" src="assets/logo.svg" alt="logo">
  <h1 class="header">ACCOUNT</h1>
</mat-toolbar>
<section class="main">
    <button class ="changePass" mat-raised-button [class.spinner]="loading" [disabled]="loading" (click)="changePassword()">
      Change password
    </button>
    <button class ="users" *ngIf="this.roleService.isAdmin()" (click)="getUsers()" mat-raised-button>Users</button>
    <button class ="logout" mat-raised-button (click)="logout()">Logout</button>
    <div class="delete-wrapper">
      <button class ="delete" mat-raised-button (click)="deleteAccountDialog()" [disabled]="delete">Delete account</button>
    </div>
</section>
