* {
  margin: 0;
  padding: 0;
}

.main {
  display: grid;
  justify-content: center;
  //height: 85vh;
  align-items: end;
}
.header {
  width: 100%;
  text-align: center;
}

mat-toolbar {
  background-color: var(--mainColor);
  color: white;
  font-size: 25px;
  text-align: center;
}

button {
  width: 300px;
  height: 50px;
  margin-top: 15px;
}

.logout {
  border: solid 2px darkred;
  color: darkred;
  font-size: 20px;
}

.delete {
  background-color: darkred;
  color: white;
  font-size: 20px;
  align-content: end;

}

.delete-wrapper {
  width: 100%;
  display: grid;
  justify-content: center;
  position: fixed;
  bottom: 10vh;
}

.changePass {
  background-color: var(--mainColor);
  color: white;
  font-size: 20px;
}

.users {
  background-color: var(--mainColor);
  color: white;
  font-size: 20px;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}
