* {
  margin: 0;
  padding: 0;
}

.main {
  display: grid;
  justify-content: center;
  height: 85vh;
  align-items: center;
}

.mat-raised-button {
  width: 200px;
  height: 50px;
  background-color: var(--mainColor);
  color: white;
  font-size: 20px;
}
